<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
  <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

  -->
  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>internal_audit </h2>

  </header>

  <!-- widget div-->
  <div>

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding">

        <%= form_for(@internal_audit, html: { id: "review-form", class: "smart-form", role: "form" }) do |f| %>
        <header>
          internal_audit
        </header>

        <fieldset>
          <% if @internal_audit.id != nil %>
              <%= f.text_field :file_upload, class: "form-control", readonly: "true", name:"nmfile", type: "hidden" %>
          <% end %>
          <div class="row">
            <section class="col col-3">
              <label class="control-label">Report Number Audit</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%= f.text_field :report_no, class: "form-control", id: "report_no", placeholder: "report_no" %>
              </label>
            </section>
            <section class="col col-3">
              <label class="control-label">Division</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%= f.text_field :division, class: "form-control", id: "report_no", placeholder: "division" %>
              </label>
            </section>
            <section class="col col-3">
              <label class="control-label">Date of Audit</label>
              <label class="input"> <i class="icon-append fa fa-calendar"></i>
                <%# <%= f.date_select :audit_date, class: "form-control", id: "audit_date", placeholder: "audit_date" %>
                <% if params[:id].present?
                internal_audit = InternalAudit.find(params[:id])
                %>
                <input type="text" name="internal_audit[audit_date]" placeholder="Audit Date" class="datepicker" value="<%= internal_audit.audit_date %>" data-dateformat='yy-mm-dd'>
                <% else %>
                <input type="text" name="internal_audit[audit_date]" placeholder="Audit Date" class="datepicker" data-dateformat='yy-mm-dd'>
                <% end %>
              </label>
            </section>

            <section class="col col-3">
              <label class="control-label">Audit Function</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%= f.select :fungsi_audit, ['Internal', 'Eksternal'], {prompt: "Select a Audit Function"}, {:id => 'audit-function', :class => 'select2'} %>
              </label>
            </section>
          </div>

                    <section>
              <label class="textarea">
                <label class="control-label">Description of Audit</label>
                <%= f.text_area :description, rows:5, class: "form-control", id: "description", placeholder: "description" %>
            </label>
          </section>
                    <section>
            <label class="control-label">Attachment</label>
            <label class="input"> <i class="icon-append fa fa-file"></i>
                <%# <%= f.text_field :file_upload, class: "form-control", id: "file_upload", placeholder: "file_upload" %>
                <%= f.file_field :file_upload, class: "form-control",accept:'file/*',onchange: "validateFiles(this);",
              data: { max_file_size: 100.megabytes } %>
              <script type="text/javascript">
                function validateFiles(inputFile) {
              var maxExceededMessage = "This file exceeds the maximum allowed file size (100 MB)";
              var extErrorMessage = "Only doc file with extension: .pdf, .docs and .docx is allowed";
              var allowedExtension = ["pdf", "docx", "docs"];

              var extName;
              var maxFileSize = $(inputFile).data('max-file-size');
              var sizeExceeded = false;
              var extError = false;

              $.each(inputFile.files, function() {
                if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
                extName = this.name.split('.').pop();
                if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
              });
              if (sizeExceeded) {
                window.alert(maxExceededMessage);
                $(inputFile).val('');
              };

              if (extError) {
                window.alert(extErrorMessage);
                $(inputFile).val('');
              };
            }

              </script>
            </label>
          </section>
                  </fieldset>
        <footer>
          <%= f.submit class: "btn btn-primary" %>
        </footer>
        <% end %>

    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->

</div>
<% content_for :scripts do%>

<script type="text/javascript">
  $(document).ready(function() {
    $("#audit-function").select2();
    pageSetUp();
    var errorClass = 'invalid';
    var errorElement = 'em';
    var $reviewForm = $("#review-form").validate({
      errorClass		: errorClass,
      errorElement	: errorElement,
      highlight: function(element) {
        $(element).parent().removeClass('state-success').addClass("state-error");
        $(element).removeClass('valid');
      },
      unhighlight: function(element) {
        $(element).parent().removeClass("state-error").addClass('state-success');
        $(element).addClass('valid');
      },
      // Rules for form validation
      rules : {
                'internal_audit[report_no]' : {
          required : true
        },
          'internal_audit[division]' : {
              required : true
          },
                'internal_audit[audit_date]' : {
          required : true
        },
                'internal_audit[issued_by]' : {
          required : true
        },
                'internal_audit[description]' : {
          required : true
        },
        <% if params[:id].nil?%>
                'internal_audit[file_upload]' : {
          required : true
        },
        <% end %>
              },

      // Messages for form validation
      messages : {
                'internal_audit[report_no]' : {
          required : 'Please enter your textbox report_no '
        },
          'internal_audit[division]' : {
              required : 'Please enter your textbox division '
          },
                'internal_audit[audit_date]' : {
          required : 'Please enter your textbox audit_date '
        },
                'internal_audit[issued_by]' : {
          required : 'Please enter your textbox issued_by '
        },
                'internal_audit[description]' : {
          required : 'Please enter your textbox description '
        },
        <% if params[:id].nil? %>
                'internal_audit[file_upload]' : {
          required : 'Please enter your textbox file_upload '
        },
        <% end %>
              },

      // Do not change code below
      errorPlacement : function(error, element) {
        error.insertAfter(element.parent());
      }
    });
  });
</script>
<% end %>
