<div class="page-header">
  <%= link_to report_distributions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_report_distribution_path(@report_distribution), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show report_distribution</h1>
</div>

<dl class="dl-horizontal">
  <dt>Report:</dt>
  <dd><%= @report_distribution.report_id %></dd>

  <dt>Sender:</dt>
  <dd><%= @report_distribution.sender %></dd>

  <dt>Receiver:</dt>
  <dd><%= @report_distribution.receiver %></dd>

  <dt>Date:</dt>
  <dd><%= @report_distribution.date %></dd>

</dl>
