<div class="page-header">
  <%= link_to sub_document_types_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_sub_document_type_path(@sub_document_type), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show sub_document_type</h1>
  <%= render "layouts/logo_header" %>
</div>

<dl class="dl-horizontal">
  <dt>Document type:</dt>
  <dd><%= @sub_document_type.document_type_id %></dd>

  <dt>Sub type name:</dt>
  <dd><%= @sub_document_type.sub_type_name %></dd>

  <dt>Description:</dt>
  <dd><%= @sub_document_type.sub_description %></dd>

</dl>
