<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
  <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

  -->
  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>Form document </h2>

  </header>

  <!-- widget div-->
  <div>

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding">

        <%= form_for(@document, html: { id: "review-form", class: "smart-form", role: "form" }) do |f| %>
        <!-- <header>
          document
        </header> -->

        <fieldset>
          <% if @document.document_id != nil %>
              <%= f.text_field :file_upload, class: "form-control", readonly: "true", name:"nmfile", type: "hidden" %>
          <% end %>
                    <section>
                      <label class="control-label">Document Code</label>
            <label class="input"> <i class="icon-append fa fa-tag"></i>
                <%= f.text_field :document_code, class: "form-control", id: "document_code", placeholder: "document_code" %>
                <b class="tooltip tooltip-top-right">
                  <i class="fa fa-warning txt-color-teal"></i>
                  Please entry...</b>
            </label>
          </section>

          <div class="row">
            <style media="screen">
              select.select2 {
                display: block;
                visibility: visible;
                position: absolute;
                margin-top: 4px;
                margin-left: 4px;
                width: 190px;
                height: 20px;
              }
            </style>
            <script type="text/javascript">
              $(".select2").select2();
            </script>
            <section class="col col-4">
              <label class="control-label">Type</label>
              <label class="input">
                  <%# <%= f.number_field :field_id, class: "form-control", id: "field_id", placeholder: "field_id" %>
                  <%= f.collection_select :document_type_id, DocumentType.order(:type_name), :document_type_id, :type_name, {prompt: "Select a Field"}, {:class => 'select2'}%>
              </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Sub Type</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <label class="select">
                  <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>
                  <%= f.grouped_collection_select :sub_document_type_id, DocumentType.order(:type_name), :sub_document_type, :type_name, :sub_document_type_id, :sub_type_name, include_blank: true%>
                  <i></i>
              </label>
            </section>
            <section class="col col-4">
              <label class="control-label">Document Type</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                <label class="input">
                  <%# <%= f.number_field :sub_field_id, class: "form-control", id: "sub_field_id", placeholder: "sub_field_id" %>
                  <%= f.collection_select :document_reference_id, DocumentReference.all, :document_reference_id, :reference_name, {prompt: "Select a Document Type"}, {:class => 'select2'}%>
                  <i></i>
              </label>
            </section>
          </div>

          <div class="row">
            <style media="screen">
              select.select2 {
                display: block;
                visibility: visible;
                position: absolute;
                margin-top: 4px;
                margin-left: 4px;
                width: 190px;
                height: 20px;
              }
            </style>
            <script type="text/javascript">
              $(".select2").select2();
            </script>
            <!-- <section class="col col-4"> -->
              <!-- <label class="control-label">Work Reference</label> -->
              <%# <%= f.collection_select :wr_doc_id, WrDoc.all, :wr_doc_id, :description, {prompt: "Select a Work Reference"}, {:class => 'select2'} %>
            <!-- </section> -->
            <section class="col col-6">
              <label class="control-label">Document Seq No</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                  <%= f.text_field :document_seq_no, class: "form-control", id: "document_seq_no", placeholder: "document_seq_no" %>
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-warning txt-color-teal"></i>
                    Please entry...</b>
              </label>
            </section>
            <section class="col col-6">
              <label class="control-label">Document Date</label>
              <label class="input"> <i class="icon-append fa fa-calendar"></i>
                <% if params[:id].present?
                    document = Document.find(params[:id])
                %>
                  <input type="text" id="dateformat" value="<%= document.document_date%>" name="document[document_date]" placeholder="Document Date" class="datepicker" data-dateformat='yy-mm-dd'>
                <% else %>
                  <input type="text" id="dateformat" name="document[document_date]" placeholder="Document Date" class="datepicker" data-dateformat='yy-mm-dd'>
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-warning txt-color-teal"></i>
                    Please entry...</b>
                <% end %>
              </label>
            </section>
          </div>

          <div class="row">
            <section class="col col-6">
              <label class="control-label">Document Title</label>
              <label class="input"> <i class="icon-append fa fa-tag"></i>
                  <%= f.text_field :document_title, class: "form-control", id: "document_title", placeholder: "document_title" %>
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-warning txt-color-teal"></i>
                    Please entry...</b>
              </label>
            </section>
            <section class="col col-6">
              <label class="control-label">Attachment</label>
              <div class="input input-file"> <i class="icon-append fa fa-file"></i>
                <%= f.file_field :file_upload, class: "form-control",accept:'file/*',onchange: "validateFiles(this);",
              data: { max_file_size: 100.megabytes } %>
              </div>
              <script type="text/javascript">
                function validateFiles(inputFile) {
              var maxExceededMessage = "This file exceeds the maximum allowed file size (100 MB)";
              var extErrorMessage = "Only doc file with extension: .pdf is allowed";
              var allowedExtension = ["pdf", "docx"];

              var extName;
              var maxFileSize = $(inputFile).data('max-file-size');
              var sizeExceeded = false;
              var extError = false;

              $.each(inputFile.files, function() {
                if (this.size && maxFileSize && this.size > parseInt(maxFileSize)) {sizeExceeded=true;};
                extName = this.name.split('.').pop();
                if ($.inArray(extName, allowedExtension) == -1) {extError=true;};
              });
              if (sizeExceeded) {
                window.alert(maxExceededMessage);
                $(inputFile).val('');
              };

              if (extError) {
                window.alert(extErrorMessage);
                $(inputFile).val('');
              };
            }

              </script>
            </section>
          </div>

          <% if params[:id].present? %>
              <% if @document.status == "Open" || @document.status == "Request" %>
                    <div class="row">
                      <section class="col col-6">
                        <label class="select">
                          <select name="document[status]" id="coba">
                            <option value="0" selected="" disabled="">Status Document</option>
                            <%  if params[:id].present?
                                document = Document.find(params[:id])
                                if document.status == "Request"
                            %>
                                  <option value="Request" selected>Request</option>
                                  <option value="Open">Open</option>
                                <% else %>
                                  <option value="Request">Request</option>
                                  <option value="Open" selected>Open</option>
                                <% end %>
                            <% else %>
                            <option value="Request">Request</option>
                            <option value="Open">Open</option>
                            <% end %>
                          </select><i></i> </label>
                      </section>
                      <section class="col col-6">
                        <!-- <label class="control-label">Checker</label> -->
                        <!-- <label class="input"> <i class="icon-append fa fa-tag"></i> -->
                          <style media="screen">
                            select.select2 {
                              display: block;
                              visibility: visible;
                              position: absolute;
                              margin-top: 4px;
                              margin-left: 4px;
                              width: 190px;
                              height: 20px;
                             }
                          </style>
                          <script type="text/javascript">
                            $(".select2").select2();
                          </script>
                            <%# <%= f.number_field :member_id, class: "form-control", id: "member_id", placeholder: "member_id" %>
                            <%# <%= f.collection_select :checker, Permission.joins(:member).where("permissions.role_id = ?", "8").select('*'), :nama, :nama, {prompt: "Select a member"}, {:class => 'select2'} %>
                        </label>
                      </section>
                    </div>
                    <% if params[:id].present?
                      document = Document.find(params[:id])
                      if document.status == "Request"
                    %>

                      <label class="control-label">Reason</label>
                      <label class="textarea">
                          <%= f.text_area :reason, rows:5, class: "form-control", id: "reason", placeholder: "reason" %>
                          <b class="tooltip tooltip-top-right">
                            <i class="fa fa-warning txt-color-teal"></i>
                            Please entry...</b>
                      </label>

                      <% else %>
                      <div style="display:none;" id="reason">
                        <label class="control-label">Reason</label>
                        <label class="textarea">
                          <%= f.text_area :reason, rows:5, class: "form-control", id: "reason", placeholder: "reason" %>
                          <b class="tooltip tooltip-top-right">
                            <i class="fa fa-warning txt-color-teal"></i>
                            Please entry...</b>
                        </label>
                      </div>
                      <% end %>
                    <% else %>
                    <div style="display:none;" id="reason">
                      <label class="control-label">Reason</label>
                      <label class="textarea">
                        <%= f.text_area :reason, rows:5, class: "form-control", id: "reason", placeholder: "reason" %>
                        <b class="tooltip tooltip-top-right">
                          <i class="fa fa-warning txt-color-teal"></i>
                          Please entry...</b>
                      </label>
                    </div>
                    <% end %>
              <% end %>
          <% else %>
              <div class="row">
                <section class="col col-6">
                  <label class="select">
                    <select name="document[status]" id="coba">
                      <option value="0" selected="" disabled="">Status Document</option>
                      <%  if params[:id].present?
                          document = Document.find(params[:id])
                          if document.status == "Request"
                      %>
                            <option value="Request" selected>Request</option>
                            <option value="Open">Open</option>
                          <% else %>
                            <option value="Request">Request</option>
                            <option value="Open" selected>Open</option>
                          <% end %>
                      <% else %>
                      <option value="Request">Request</option>
                      <option value="Open">Open</option>
                      <% end %>
                    </select><i></i> </label>
                </section>
                <section class="col col-6">
                  <!-- <label class="control-label">Checker</label> -->
                  <!-- <label class="input"> <i class="icon-append fa fa-tag"></i> -->
                    <style media="screen">
                      select.select2 {
                        display: block;
                        visibility: visible;
                        position: absolute;
                        margin-top: 4px;
                        margin-left: 4px;
                        width: 190px;
                        height: 20px;
                       }
                    </style>
                    <script type="text/javascript">
                      $(".select2").select2();
                    </script>
                      <%# <%= f.number_field :member_id, class: "form-control", id: "member_id", placeholder: "member_id" %>
                      <%# <%= f.collection_select :checker, Permission.joins(:member).where("permissions.role_id = ?", "8").select('*'), :nama, :nama, {prompt: "Select a member"}, {:class => 'select2'} %>
                  </label>
                </section>
              </div>
              <% if params[:id].present?
                document = Document.find(params[:id])
                if document.status == "Request"
              %>

                <label class="control-label">Reason</label>
                <label class="textarea">
                    <%= f.text_area :reason, rows: 5, class: "form-control", id: "reason", placeholder: "reason" %>
                    <b class="tooltip tooltip-top-right">
                      <i class="fa fa-warning txt-color-teal"></i>
                      Please entry...</b>
                </label>

                <% else %>
                <div style="display:none;" id="reason">
                  <label class="control-label">Reason</label>
                  <label class="textarea">
                    <%= f.text_area :reason, rows: 5, class: "form-control", id: "reason", placeholder: "reason" %>
                    <b class="tooltip tooltip-top-right">
                      <i class="fa fa-warning txt-color-teal"></i>
                      Please entry...</b>
                  </label>
                </div>
                <% end %>
              <% else %>
              <div style="display:none;" id="reason">
                <label class="control-label">Reason</label>
                <label class="textarea">
                  <%= f.text_area :reason, rows: 5, class: "form-control", id: "reason", placeholder: "reason" %>
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-warning txt-color-teal"></i>
                    Please entry...</b>
                </label>
              </div>
              <% end %>
          <% end %>
          </fieldset>
        <footer>
          <%= f.submit class: "btn btn-primary" %>
        </footer>
        <% end %>

    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->

</div>
<% content_for :scripts do %>

<script type="text/javascript">
  $(document).ready(function() {
    // Format Date
    $("#dateformat").datepicker({
      dateFormat: 'yy-mm-dd',
      defaultDate: "0d",
      changeMonth: true,
      changeYear: true,
      prevText: "",
      nextText: "",
    });

    $(document).ready(function() {
      $('#coba').change(function() {
        var x = $(this).val();
        console.log(x)
        if (x == 'Request') {
          document.getElementById('reason').style.display = 'block';
          document.getElementById('reason').required = true;
        }
        else {
          document.getElementById('reason').style.display = 'none';
          document.getElementById('reason').required = false;
        }
      })
    })

    <% if params[:id].nil?%>
    $('#document_sub_document_type_id').empty()

    <% end %>

    pageSetUp();
    var errorClass = 'invalid';
    var errorElement = 'em';
    var $reviewForm = $("#review-form").validate({
      errorClass		: errorClass,
      errorElement	: errorElement,
      highlight: function(element) {
        $(element).parent().removeClass('state-success').addClass("state-error");
        $(element).removeClass('valid');
      },
      unhighlight: function(element) {
        $(element).parent().removeClass("state-error").addClass('state-success');
        $(element).addClass('valid');
      },
      // Rules for form validation
      rules : {
                'document[document_code]' : {
          required : true
        },
                'document[wr_doc_id]' : {
          required : true
        },
                'document[document_seq_no]' : {
          required : true
        },
                'document[document_date]' : {
          required : true
        },
                'document[document_title]' : {
          required : true
        },
        //         'document[checker]' : {
        //   required : true
        // },
        <% if params[:id].nil?%>
                'document[file_upload]' : {
          required : true
        },
        <% end %>
                'document[status]' : {
          required : true
        },
              },

      // Messages for form validation
      messages : {
                'document[document_code]' : {
          required : 'Please enter your textbox document_code '
        },
                'document[wr_doc_id]' : {
          required : 'Please enter your textbox wr_docs_id '
        },
                'document[document_seq_no]' : {
          required : 'Please enter your textbox document_seq_no '
        },
                'document[document_date]' : {
          required : 'Please enter your textbox document_date '
        },
                'document[document_title]' : {
          required : 'Please enter your textbox document_title '
        },
        //         'document[checker]' : {
        //   required : 'Please enter your textbox document_title '
        // },
        <% if params[:id].nil?%>
                'document[file_upload]' : {
          required : 'Please enter your textbox file_upload '
        },
        <% end %>
                'document[status]' : {
          required : 'Please select your status box'
        },
              },

      // Do not change code below
      errorPlacement : function(error, element) {
        error.insertAfter(element.parent());
      }
    });
  });
</script>
<% end %>
