<style type="text/css">
  body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
  }

  .ibox-title {
    font-size: 10px;
    font-style: italic;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .in-table tr td,
  .in-table tr th {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 3px;
  }

  .in-table tr th {
    background-color: #c6d9f0;
  }

  .in-table table {
    border: 0px;
    margin-top: 5px;
  }

  .bottom-table tr td {
    border-collapse: collapse;
    border: 1px solid black;
    padding-left: 3px;
  }

  table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
  }
</style>

<div class="ibox">

  <div class="ibox-content" style="display: block;">
    <div class="print-area" style="padding: 15px 30px;">

      <table class="bottom-table">
        <tr>
          <td width="365" height="60"><div style="margin: 20px"><%= wicked_pdf_image_tag 'pgn.png', :height=>50 %></div></td>
          <td colspan="3">
            <h3 style="text-align: center; margin-top: 15px;font-style: italic;font-size: 16px;"><b>DAFTAR DATA DOKUMEN</b> </h3>
            <p style="text-align: center; margin-bottom: 15px">Quality Management - DAK</p>
          </td>
        </tr>
      </table>


      <table style="border-collapse: collapse;" class="in-table">
        <thead>
        <tr>
          <th>No</th>
          <th>Judul Dokumen</th>
          <th>Klasifikasi Dokumen</th>
          <th>Nomor Dokumen</th>
          <th>Penanggung Jawab</th>
          <th>Revisi</th>
          <th>Tanggal Berlaku</th>
          <th>Lokasi Simpan</th>
          <th>Lama Simpan</th>
          <th>Keterangan</th>
        </tr>
        </thead>

        <tbody>
        <% @documents.each_with_index do |document, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= document.document_title %></td>
          <td><%= document.classification_name %></td>
          <td><%= document.document_code %></td>
          <td><%= document.penanggung_jawab %></td>
          <td><%= document.revision %></td>
          <td><%= document.document_date.strftime('%d %b %Y') %></td>
          <td><%= document.save_location %></td>
          <td><%= distance_of_time_in_words(Time.now, document.save_date, true, :only => [:years, :months, :weeks,:days]).gsub("years","Y").gsub("months","M").gsub("weeks","W").gsub("days","D") %></td>
          <td><%= document.keterangan %></td>
        </tr>
        <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>

</div>

<br>