<!-- MAIN CONTENT -->
<div id="content">
  <% content_for :ribbon do %>
    <!-- RIBBON -->
    <div id="ribbon">

    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
        <i class="fa fa-refresh"></i>
      </span>
    </span>

      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <% @sub3field = Sub3Field.left_outer_joins(:sub2_field).where(sub3_field_id: params[:sub3_field_id]).select('*') %>
        <% @sub2field = Sub2Field.left_outer_joins(:sub_field).where(sub2_field_id: @sub3field.first.sub2_field_id.to_s).select('*') %>
        <% @subfield = SubField.left_outer_joins(:field).where(sub_field_id: @sub2field.first.sub_field_id.to_s).select('*') %>
        <% @field = SubField.where(field_id: @subfield.first.field_id.to_s).select('*') %>
        <li><a href="<%= root_path %>">HOME</a></li>
        <li><a href="<%= home_document_wr_docs_path %>">Reference Documents</a></li>
        <li>
          <a href="<%= sub_home_document_wr_docs_path(@subfield.first.field_id.to_s) %>" title="<%= "#{@subfield.first.description_field.to_s}" %>"><%= @subfield.first.description_field.to_s.slice(0, 30) + "..." %></a>
        </li>
        <li>
          <a href="<%= sub2_home_document_wr_docs_path(@sub2field.first.sub_field_id.to_s) %>" title="<%= "#{@sub2field.first.description_sub_field.to_s}" %>"><%= @sub2field.first.description_sub_field.to_s.slice(0, 30) + "..." %></a>
        </li>
        <li>
          <a href="<%= sub3_home_document_wr_docs_path(@sub3field.first.sub2_field_id.to_s) %>" title="<%= "#{@sub3field.first.sub2_name.to_s}" %>"><%= @sub3field.first.sub2_name.to_s.slice(0, 30) + "..." %></a>
        </li>
        <li><%= "#{@sub3field.first.sub3_name_field.to_s}" %></li>
      </ol>
      <!-- end breadcrumb -->

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:

      <span class="ribbon-button-alignment pull-right">
      <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
      <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
      <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
      </span> -->

    </div>
    <!-- END RIBBON -->
  <% end %>
  <div class="page-header">
    <h1><a href="#" style="text-decoration: none; color: black;" title="<%= @sub3field.first.sub3_name_field.to_s %>">References Documents - <%= @sub3field.first.sub3_name_field.truncate(23, sparator: '..').to_s %></a></h1>
    <%= render "layouts/logo_header" %>
  </div>
  <%= render 'layouts/css_cards' %>
  <dl class="dl-horizontal">
    <div class="row animated fadeInDown">
      <%
        @subfield = Sub4Field.where(sub3_field_id: params[:sub3_field_id]).select('*')
        if @subfield.present?
          @subfield.each do |f|
      %>
        <a href="<%= view4_index_wr_docs_path(f.sub4_field_id) %>" style="text-decoration:none; color:black;" title="<%= f.sub4_name_field %>"> 
          <div class="col-lg-2 col-md-2 col-xs-6 col-sm-3" id="card">
            <div class="card">
                <h3 class="title"><%= f.sub4_name_field.truncate(23, separator: '..') %></h3>
                <div class="bar">
                  <div class="emptybar"></div>
                  <div class="filledbar"></div>
                  <% @WrDoc = WrDoc.where('sub4_field_id = ?', f.sub4_field_id).select('*') %>
                  <h2 class="no-margins text-navy" style="color:#42f4a1;"><%= @WrDoc.count %></h2>
                </div>
            </div>
            <br>
          </div>
        </a>
        <% end
           else
        %>
        <h2> Sub Field tidak tersedia</h2>
      <% end %>
    </div>
  </dl>
  <%# <%= render 'layouts/pagination_cards' %>
</div>
