<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-custombutton="false">
  <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

  -->
  <header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
    <h2>member </h2>

  </header>

  <!-- widget div-->
  <div>

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding">

      <%= form_for(@member, html: {id: "review-form", class: "smart-form", role: "form"}) do |f| %>
        <% if @member.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h4>

            <ul>
              <% @member.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <header>
          member
        </header>

        <fieldset>
          <section>
            <label class="control-label">Username</label>
            <label class="input"> <i class="icon-append fa fa-user"></i>
              <style media="screen">
                select.select2 {
                  display: block;
                  visibility: visible;
                  position: absolute;
                  margin-top: 4px;
                  margin-left: 4px;
                  width: 190px;
                  height: 20px;
                }
              </style>
              <script type="text/javascript">
                  $(".select2").select2();
              </script>
              <%
                ldap = Net::LDAP.new :host => '192.168.60.159',
                                     :port => 389,
                                     :auth => {
                                         :method => :simple,
                                         :username => "cn=manager, dc=pgn-solution, dc=co, dc=id",
                                         :password => "4lh4mdul1ll4h"
                                     }

                # filter = Net::LDAP::Filter.eq("cn", params[:data_user] + "*")
                filter = Net::LDAP::Filter.eq("cn", "*")
                treebase = "dc=pgn-solution, dc=co, dc=id"
              %>
              <%# <%= f.text_field :username, class: "form-control", id: "username", placeholder: "username" %>
              <select class="select2" name="member[username]" id="username">
                <%
                  ldap.search(:base => treebase, :filter => filter) do |entry|
                %>
                  <% if params[:member_id].present?
                       user = Member.find(params[:member_id])
                       if user.username == entry["sn"].map(&:inspect).join(', ').gsub('"', '')
                         selected = "selected"
                       end
                  %>
                    <option value="<%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %>" <%= selected %>><%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %></option>
                  <% else %>
                    <option value="<%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %>"><%= "#{entry["sn"].map(&:inspect).join(', ').gsub('"', '')}" %></option>
                  <% end %>
                <% end %>
              </select>
            </label>
          </section>
          <section>
            <!-- <label class="input"> <i class="icon-append fa fa-user"></i> -->
            <%= f.text_field :password, class: "form-control", id: "password", value: 'PGAS50lut10n!', placeholder: "password", type: 'hidden' %>
            </label>
          </section>
          <section>
            <label class="control-label">Nama</label>
            <label class="input"> <i class="icon-append fa fa-user"></i>
              <% if params[:member_id].present?
                   user = Member.find(params[:member_id])
              %>
                <%= f.text_field :nama, value: user.nama, class: "form-control", id: "nama", placeholder: "nama", readonly: true %>
              <% else %>
                <%= f.text_field :nama, class: "form-control", id: "nama", placeholder: "nama", readonly: true %>
              <% end %>
            </label>
          </section>
          <section>
            <label class="control-label">Email</label>
            <label class="input"> <i class="icon-append fa fa-envelope"></i>
              <% if params[:member_id].present?
                   user = Member.find(params[:member_id])
              %>
                <%= f.text_field :email, value: user.email, class: "form-control", id: "email", placeholder: "email", readonly: true %>
              <% else %>
                <%= f.text_field :email, class: "form-control", id: "email", placeholder: "email", readonly: true %>
              <% end %>
            </label>
          </section>
          <section>
            <label class="control-label">Status</label>
            <label class="input"> <i class="icon-append fa fa-info-circle"></i>
              <%= f.select :status, ['Active','Non Active'],{prompt: "Select a status"}, {:class => 'select2'} %>
            </label>
          </section>
          <section>
            <div class="col-sm-3">
              <div class="alert alert-danger alert-dismissable animated fadeInRight">
                <p>*Catatan : Password default PGAS50lut10n!</p>
                <!-- <p>*Kat Role OFF digunakan jika staf tidak aktif</p> -->
              </div>
            </div>
          </section>
          <!--
                    <section>
            <label class="input"> <i class="icon-append fa fa-user"></i>
                <%= f.datetime_select :last_login, class: "form-control", id: "last_login", placeholder: "last_login", type: 'hidden' %>
            </label>
          </section>-->
        </fieldset>
        <footer>
          <%= f.submit class: "btn btn-primary" %>
        </footer>
      <% end %>

    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->

</div>
<% content_for :scripts do %>

  <script type="text/javascript">
      $(document).ready(function () {

          pageSetUp();
          var errorClass = 'invalid';
          var errorElement = 'em';
          var $reviewForm = $("#review-form").validate({
              errorClass: errorClass,
              errorElement: errorElement,
              highlight: function (element) {
                  $(element).parent().removeClass('state-success').addClass("state-error");
                  $(element).removeClass('valid');
              },
              unhighlight: function (element) {
                  $(element).parent().removeClass("state-error").addClass('state-success');
                  $(element).addClass('valid');
              },
              // Rules for form validation
              rules: {
                  'member[username]': {
                      required: true
                  },
                  //         'member[password]' : {
                  //   required : true
                  // },
                  'member[nama]': {
                      required: true
                  },
                  'member[email]': {
                      required: true
                  },
                  'member[status]': {
                      required: true
                  },
                  //         'member[last_login]' : {
                  //   required : true
                  // },
              },

              // Messages for form validation
              messages: {
                  'member[username]': {
                      required: 'Please enter your textbox username '
                  },
                  //         'member[password]' : {
                  //   required : 'Please enter your textbox password '
                  // },
                  'member[nama]': {
                      required: 'Please enter your textbox nama '
                  },
                  'member[email]': {
                      required: 'Please enter your textbox email '
                  },
                  'member[status]': {
                      required: 'Please enter your selectbox status '
                  },
                  //         'member[last_login]' : {
                  //   required : 'Please enter your textbox last_login '
                  // },
              },

              // Do not change code below
              errorPlacement: function (error, element) {
                  error.insertAfter(element.parent());
              }
          });
      });
  </script>
<% end %>
